.action-container {
  display: flex;

  .list-button {
    height: 40px;
    margin: 5px;
  }

  .search-form {
    width: 180px;
    height: 40px;
  }
}

.table-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .book-item {
    border-bottom: 1px solid #000000;
  }

  .column-name {
    background-color: #3f51b5;
    color: #fff;

    .title-column {
      width: 15%;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .page-count-column {
      width: 10%;
    }

    .publish-date-column {
      width: 10%;
    }

    .publish-date-column:hover {
      background-color: #1E90FF;
    }

    .title-column:hover {
      background-color: #1E90FF;
    }

    .page-count-column:hover {
      background-color: #1E90FF;
    }
  }

  .description-field {
    max-height: 110px;
    overflow-y: scroll;
  }
}

table, th, td {
  border: 1px solid #000000;
}
