.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  .modal-header-text {
    font-size: 24px;
    font-weight: 600;
  }

  .empty {
    width: 40px;
  }
}

.book-title {
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bordered {
  border-top: 1px solid #00000029;
}

.book-info {
  width: 95%;
  margin-bottom: 16px;
  font-size: 18px;
  outline: none;
  border: none;
  resize: none;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .date-picker{
    width: 30%;
    outline: none;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .info-header {
    font-size: 20px;
    width: 20%;
    font-weight: 600;
  }

  .excerpt {
    height: 250px;
  }

  .description {
    height: 150px;
  }

  .action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
  }
}
